///
/// Avocado admin color scheme
///

// Variables
$body_bg_color: #f6f6f6;
$link_color: #557d00;
$link_action_color: lighten( $color: $link_color, $amount: 7% );
$button_color: #ffffff;
$button_bg_color: #7d4722;
$button_bg_action_color: lighten( $color: $button_bg_color, $amount: 5% );
$button_border_color: #7d4722;
$button_border_action_color: $button_border_color;

// Functions
@function svg_form_color() {
	@return '%23'+str-slice( '#{$link_color}', 2, -1 );
}

body {
	background: $body_bg_color;
	color: #3c3c3c;
}

a {
	color: $link_color;

	&:hover,
	&:active,
	&:focus {
		color: $link_action_color;
	}
}

#post-body .misc-pub-post-status:before,
#post-body #visibility:before,
.curtime #timestamp:before,
#post-body .misc-pub-revisions:before,
span.wp-media-buttons-icon:before {
	color: currentColor;
}

.wp-core-ui .button-link {
	color: $link_color;

	&:hover,
	&:active,
	&:focus {
		color: $link_action_color;
	}
}

///
/// Forms
///
input[type=radio]:checked:before {
	background: $link_color;
}

input[type=checkbox]:checked:before {
	content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27#{ svg_form_color() }%27%2F%3E%3C%2Fsvg%3E");
}

.wp-core-ui input[type=reset]:hover,
.wp-core-ui input[type=reset]:active {
	color: #0096dd;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
select:focus,
textarea:focus {
	border-color: #a3b745;
	box-shadow: 0 0 0 1px #a3b745;
}

.wp-core-ui select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.wp-core-ui select:hover {
	color: #557d00;
}

.wp-core-ui select:focus {
	border-color: #557d00;
	color: #3c3c3c;
	box-shadow: 0 0 0 1px #557d00;
}

///
/// Core UI elements
///
.wp-core-ui .button {
	background: $button_bg_color;
	border-color: $button_border_color;
	color: #ffffff;
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus {
	background: $button_bg_action_color;
	border-color: $button_border_action_color;
	color: #ffffff;
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus {
	background: $button_bg_action_color;
	border-color: $button_border_action_color;
	color: #ffffff;
	box-shadow: 0 0 0 1px $button_border_action_color;
}

.wp-core-ui .button:active {
	background: $button_bg_action_color;
	border-color: $button_border_action_color;
	color: #262a2e;
	box-shadow: none;
}

.wp-core-ui .button.active,
.wp-core-ui .button.active:focus,
.wp-core-ui .button.active:hover {
	background: $button_bg_action_color;
	border-color: $button_border_action_color;
	color: #ffffff;
	box-shadow: inset 0 2px 5px -3px $button_border_action_color;
}

.wp-core-ui .button.active:focus {
	box-shadow: 0 0 0 1px $button_border_action_color;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
	background: $button_bg_color;
	color: #ffffff;
	border-color: $button_border_color;
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover {
	background: $button_bg_action_color;
	border-color: $button_border_action_color;
	color: #ffffff;
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
	background: $button_bg_action_color;
	border-color: $button_border_action_color;
	color: #ffffff;
	box-shadow: 0 0 0 1px $button_border_action_color;
}

.wp-core-ui .button-primary:hover {
	color: #ffffff;
}

.wp-core-ui .button-primary {
	background: $button_bg_color;
	border-color: $button_border_color;
	color: #fff;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
	background: $button_bg_action_color;
	border-color: $button_border_action_color;
	color: #fff;
}

.wp-core-ui .button-primary:focus {
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px $button_border_action_color;
}

.wp-core-ui .button-primary:active {
	background: $button_bg_action_color;
	border-color: $button_border_action_color;
	color: #ffffff;
}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary.active:hover {
	background: $button_bg_action_color;
	color: #ffffff;
	border-color: $button_border_action_color;
	box-shadow: inset 0 2px 5px -3px $button_border_action_color;
}

.wp-core-ui .button-group>.button.active {
	border-color: $button_border_action_color;
}

.wp-core-ui .wp-ui-primary {
	color: #ffffff;
	background-color: $button_bg_color;
}

.wp-core-ui .wp-ui-text-primary {
	color: #555555;
}

.wp-core-ui .wp-ui-highlight {
	color: #ffffff;
	background-color: #a3a3a3;
}

.wp-core-ui .wp-ui-text-highlight {
	color: #a3b745;
}

.wp-core-ui .wp-ui-notification {
	color: #ffffff;
	background-color: #d46f15;
}

.wp-core-ui .wp-ui-text-notification {
	color: #d46f15;
}

.wp-core-ui .wp-ui-text-icon {
	color: #ece6f6;
}

///
/// Admin menu
///
#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
	background-color: #2d4200;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
	background-color: #94ba0b;
	color: #ffffff;
}

#adminmenu .wp-submenu {
	background-color: #557d00;
}

#adminmenu div.wp-menu-image:before,
#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.menu-top:focus div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
	color: #ffffff !important;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after {
	border-right-color: #557d00;
}

#adminmenu .wp-submenu .wp-submenu-head {
	color: #ffffff;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
	color: #ffffff;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
	background-color: #94ba0b;
	color: #ffffff;
}

#adminmenu .wp-not-current-submenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
	border-left: none;
}

#adminmenu a:hover,
#adminmenu a:focus,
.folded #adminmenu .wp-submenu-head:hover {
	box-shadow: none;
}

/* Admin Menu: bubble */
#adminmenu .menu-counter,
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
	color: #ffffff;
	background: #61371a;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover>a .update-plugins {
	color: #ffffff;
	background: #61371a;
}

/* Admin Menu: collapse button */
#collapse-button {
	color: #eeeeee;
}

#collapse-button:hover,
#collapse-button:focus {
	color: #ffffff;
}

/* Admin Bar */
#wpadminbar {
	color: #ffffff;
	background: #2d4200;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
	color: #ffffff;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
	color: #ffffff;
}

#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar.nojs .ab-top-menu>li.menupop:hover>.ab-item,
#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item {
	color: #ffffff;
	background: #557d00;
}

#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label {
	color: #ffffff;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
	color: #ffffff;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
	background: #557d00;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: #557d00;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: #ffffff;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop>.ab-item:before {
	color: #ffffff;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
	color: #ffffff;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a .blavatar,
#wpadminbar .menupop .menupop>.ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
	color: #ffffff;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
	color: #ffffff;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
	color: #ffffff;
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	color: #ffffff;
	background: #634c84;
}

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode {
	color: #ffffff;
	background-color: #d46f15;
}

#wpadminbar #wp-admin-bar-recovery-mode .ab-item,
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
	color: #ffffff;
}

#wpadminbar .ab-top-menu>#wp-admin-bar-recovery-mode.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>#wp-admin-bar-recovery-mode>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>#wp-admin-bar-recovery-mode:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>#wp-admin-bar-recovery-mode>.ab-item:focus {
	color: #ffffff;
	background-color: #bf6413;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
	border-color: #634c84;
	background-color: #634c84;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
	color: #ffffff;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
	color: #ffffff;
}

#wpadminbar #wp-admin-bar-user-info .username {
	color: #cbc5d3;
}

///
/// Companion plugin
///
.admin-tabs .admin-tabs-list .content-tab:not(.active) a {
	background-color: $body_bg_color !important;
}
