#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
  margin-bottom: 0;
}

#wpadminbar #wp-admin-bar-user-info a span {
  height: auto;
}

:root {
  --wp-components-color-accent: #7d4722;
  --wp-components-color-accent-inverted: #ffffff;
}

body {
  background: #f6f6f6;
  color: #3c3c3c;
}

a {
  color: #557d00;
}

a:hover, a:active, a:focus {
  color: #6da100;
}

.view-switch a:hover:before,
.view-switch a:focus:before,
.view-switch a.current:before {
  color: #557d00;
}

.wp-person a:focus .gravatar,
a:focus,
a:focus .plugin-icon {
  color: #557d00;
  -webkit-box-shadow: 0 0 0 1px #6da100, 0 0 2px 1px #557d00;
          box-shadow: 0 0 0 1px #6da100, 0 0 2px 1px #557d00;
}

#post-body .misc-pub-post-status:before,
#post-body #visibility:before,
.curtime #timestamp:before,
#post-body .misc-pub-revisions:before {
  color: currentColor;
}

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  background-color: inherit;
  border-color: #7d4722;
  color: #7d4722;
}

.wrap .add-new-h2:hover, .wrap .add-new-h2:focus,
.wrap .add-new-h2:active:hover,
.wrap .add-new-h2:active:focus,
.wrap .page-title-action:hover,
.wrap .page-title-action:focus,
.wrap .page-title-action:active:hover,
.wrap .page-title-action:active:focus {
  background-color: inherit;
  border-color: #557d00;
  -webkit-box-shadow: 0 0 0 1px #6da100;
          box-shadow: 0 0 0 1px #6da100;
  color: #557d00;
}

.wp-core-ui .button-link {
  color: #557d00;
}

.wp-core-ui .button-link:hover, .wp-core-ui .button-link:active, .wp-core-ui .button-link:focus {
  color: #6da100;
}

input[type=radio]:checked:before {
  background: #557d00;
}

input[type=checkbox]:checked:before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23557d00%27%2F%3E%3C%2Fsvg%3E");
}

.wp-core-ui input[type=reset]:hover,
.wp-core-ui input[type=reset]:active {
  color: #0096dd;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
select:focus,
textarea:focus {
  border-color: #a3b745;
  -webkit-box-shadow: 0 0 0 1px #a3b745;
          box-shadow: 0 0 0 1px #a3b745;
}

.wp-core-ui select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wp-core-ui select:hover {
  color: #557d00;
}

.wp-core-ui select:focus {
  border-color: #557d00;
  color: #3c3c3c;
  -webkit-box-shadow: 0 0 0 1px #557d00;
          box-shadow: 0 0 0 1px #557d00;
}

.wp-core-ui .button {
  background: #7d4722;
  border-color: #7d4722;
  color: #ffffff;
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus {
  background: #915227;
  border-color: #7d4722;
  color: #ffffff;
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus {
  background: #915227;
  border-color: #7d4722;
  color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px #7d4722;
          box-shadow: 0 0 0 1px #7d4722;
}

.wp-core-ui .button:active {
  background: #915227;
  border-color: #7d4722;
  color: #262a2e;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-core-ui .button.active,
.wp-core-ui .button.active:focus,
.wp-core-ui .button.active:hover {
  background: #915227;
  border-color: #7d4722;
  color: #ffffff;
  -webkit-box-shadow: inset 0 2px 5px -3px #7d4722;
          box-shadow: inset 0 2px 5px -3px #7d4722;
}

.wp-core-ui .button.active:focus {
  -webkit-box-shadow: 0 0 0 1px #7d4722;
          box-shadow: 0 0 0 1px #7d4722;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
  background: #7d4722;
  color: #ffffff;
  border-color: #7d4722;
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover {
  background: #915227;
  border-color: #7d4722;
  color: #ffffff;
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  background: #915227;
  border-color: #7d4722;
  color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px #7d4722;
          box-shadow: 0 0 0 1px #7d4722;
}

.wp-core-ui .button-primary:hover {
  color: #ffffff;
}

.wp-core-ui .button-primary {
  background: #7d4722;
  border-color: #7d4722;
  color: #fff;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
  background: #915227;
  border-color: #7d4722;
  color: #fff;
}

.wp-core-ui .button-primary:focus {
  -webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #7d4722;
          box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #7d4722;
}

.wp-core-ui .button-primary:active {
  background: #915227;
  border-color: #7d4722;
  color: #ffffff;
}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary.active:hover {
  background: #915227;
  color: #ffffff;
  border-color: #7d4722;
  -webkit-box-shadow: inset 0 2px 5px -3px #7d4722;
          box-shadow: inset 0 2px 5px -3px #7d4722;
}

.wp-core-ui .button-group > .button.active {
  border-color: #7d4722;
}

.wp-core-ui .wp-ui-primary {
  color: #ffffff;
  background-color: #7d4722;
}

.wp-core-ui .wp-ui-text-primary {
  color: #555555;
}

.wp-core-ui .wp-ui-highlight {
  color: #ffffff;
  background-color: #a3a3a3;
}

.wp-core-ui .wp-ui-text-highlight {
  color: #a3b745;
}

.wp-core-ui .wp-ui-notification {
  color: #ffffff;
  background-color: #d46f15;
}

.wp-core-ui .wp-ui-text-notification {
  color: #d46f15;
}

.wp-core-ui .wp-ui-text-icon {
  color: #ece6f6;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background-color: #2d4200;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  background-color: #94ba0b;
  color: #ffffff;
}

#adminmenu .wp-submenu {
  background-color: #557d00;
}

#adminmenu div.wp-menu-image:before,
#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.menu-top:focus div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #ffffff !important;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after {
  border-right-color: #557d00;
}

#adminmenu .wp-submenu .wp-submenu-head {
  color: #ffffff;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #ffffff;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  background-color: #94ba0b;
  color: #ffffff;
}

#adminmenu .wp-not-current-submenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
  border-left: none;
}

#adminmenu a:hover,
#adminmenu a:focus,
.folded #adminmenu .wp-submenu-head:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Admin Menu: bubble */
#adminmenu .menu-counter,
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #ffffff;
  background: #61371a;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #ffffff;
  background: #61371a;
}

/* Admin Menu: collapse button */
#collapse-button {
  color: #eeeeee;
}

#collapse-button:hover,
#collapse-button:focus {
  color: #ffffff;
}

/* Admin Bar */
#wpadminbar {
  color: #ffffff;
  background: #2d4200;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #ffffff;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #ffffff;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #ffffff;
  background: #557d00;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: #ffffff;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: #ffffff;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #557d00;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #557d00;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #ffffff;
}

#wpadminbar .ab-submenu .ab-item:hover,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  background-color: #94ba0b;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #ffffff;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
  color: #ffffff;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
  color: #ffffff;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #ffffff;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #ffffff;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #ffffff;
  background: #634c84;
}

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode {
  color: #ffffff;
  background-color: #d46f15;
}

#wpadminbar #wp-admin-bar-recovery-mode .ab-item,
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
  color: #ffffff;
}

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
  color: #ffffff;
  background-color: #bf6413;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #634c84;
  background-color: #634c84;
}

#wpadminbar #wp-admin-bar-user-info a span {
  height: auto;
}

#wpadminbar #wp-admin-bar-user-info a:hover {
  background-color: #94ba0b !important;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
  margin-bottom: 0;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #ffffff;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #ffffff;
}

#wpadminbar #wp-admin-bar-user-info .username {
  color: #cbc5d3;
}

.admin-tabs .admin-tabs-list .content-tab:not(.active) a {
  background-color: #f6f6f6 !important;
}

.media-frame.mode-grid .attachment:focus,
.media-frame.mode-grid .selected.attachment:focus {
  -webkit-box-shadow: inset 0 0 2px 3px #f0f0f1, inset 0 0 0 7px #557d00;
          box-shadow: inset 0 0 2px 3px #f0f0f1, inset 0 0 0 7px #557d00;
  outline: 2px solid transparent;
  outline-offset: -6px;
}

.media-frame input[type="email"]:focus,
.media-frame input[type="number"]:focus,
.media-frame input[type="password"]:focus,
.media-frame input[type="search"]:focus,
.media-frame input[type="text"]:focus,
.media-frame input[type="url"]:focus,
.media-frame select:focus,
.media-frame textarea:focus {
  border-color: #6da100;
  -webkit-box-shadow: 0 0 0 1px #6da100;
          box-shadow: 0 0 0 1px #6da100;
  outline: 2px solid transparent;
}

a:focus .media-icon img,
.media-frame a:focus {
  color: #557d00;
  -webkit-box-shadow: 0 0 0 1px #6da100, 0 0 2px 1px #557d00;
          box-shadow: 0 0 0 1px #6da100, 0 0 2px 1px #557d00;
}

span.wp-media-buttons-icon:before {
  color: currentColor;
}

.theme-browser .theme.active .theme-name,
.theme-browser .theme.active .theme-actions {
  background-color: #557d00;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.widgets-chooser .widgets-chooser-selected .widgets-chooser-button {
  background-color: #557d00;
}

.filter-links li > a,
.filter-links .current {
  color: #557d00;
}

.filter-links li > a:hover,
.filter-links .current:hover {
  color: #6da100;
}

.filter-links .current {
  border-bottom-color: #94ba0b;
}

.contextual-help-tabs-wrap {
  background-color: #f6f6f6;
}

.contextual-help-tabs .active {
  background-color: #f6f6f6;
  border-left-color: #557d00;
}

#screen-meta-links .show-settings:focus {
  border-color: #557d00;
  -webkit-box-shadow: 0 0 3px rgba(109, 161, 0, 0.8);
          box-shadow: 0 0 3px rgba(109, 161, 0, 0.8);
}

.acf-admin-page .wrap a:not(.button):not(.acf-btn),
.acf-admin-page #screen-meta a:not(.button):not(.acf-btn) {
  color: #557d00 !important;
}

.acf-admin-page .wrap a:not(.button):not(.acf-btn):hover,
.acf-admin-page #screen-meta a:not(.button):not(.acf-btn):hover {
  color: #6da100 !important;
}

.acf-admin-page .wrap .acf-btn,
.acf-admin-page #screen-meta .acf-btn {
  background-color: #7d4722 !important;
  border-color: #7d4722 !important;
  color: #ffffff !important;
}

.acf-admin-page .wrap .post-type-acf-field-group .acf-field-object.open .handle a,
.acf-admin-page #screen-meta .post-type-acf-field-group .acf-field-object.open .handle a {
  color: #557d00;
}

.acf-admin-page .wrap .post-type-acf-field-group .acf-field-object.open .handle a:hover,
.acf-admin-page #screen-meta .post-type-acf-field-group .acf-field-object.open .handle a:hover {
  color: #6da100 !important;
}

.acf-switch.-on {
  background: #6da100 !important;
  border-color: #557d00 !important;
}

.acf-switch .acf-switch-on {
  text-shadow: #557d00 0 1px 0 !important;
}

.acf-switch.-on .acf-switch-slider,
.acf-switch:hover .acf-switch-slider,
.acf-switch.-focus .acf-switch-slider {
  border-color: #557d00 !important;
}

.acf-switch:hover,
.acf-switch.-focus {
  border-color: #557d00 !important;
  background: #f6f6f6 !important;
  color: #3c3c3c !important;
}

.acf-admin-toolbar {
  background-color: #557d00 !important;
}

.acf-admin-toolbar .acf-tab {
  color: #ffffff !important;
}

.acf-admin-toolbar .acf-tab.is-active, .acf-admin-toolbar .acf-tab:hover {
  background-color: #94ba0b !important;
  color: #ffffff !important;
}

.acf-pro-label {
  background: #94ba0b !important;
}

.acf-headerbar-actions button:not([disabled]),
.acf-headerbar-actions button:not(:disabled) {
  background-color: #7d4722;
}

.acf-headerbar-actions .acf-btn.acf-btn-secondary {
  border-color: #7d4722 !important;
  color: #7d4722 !important;
}

.acf-headerbar-actions .acf-btn.acf-btn-secondary:hover {
  background-color: inherit !important;
  border-color: #557d00 !important;
  color: #557d00 !important;
}

.acf-headerbar-actions .acf-admin-page input[type="text"]:focus,
.acf-headerbar-actions .acf-admin-page input[type="search"]:focus,
.acf-headerbar-actions .acf-admin-page input[type="number"]:focus,
.acf-headerbar-actions .acf-admin-page textarea:focus,
.acf-headerbar-actions .acf-admin-page select:focus {
  border-color: #557d00 !important;
}

.post-type-acf-field-group .acf-field-object.open .handle {
  background-color: inherit !important;
}

.post-type-acf-field-group .acf-field-object .settings {
  border-left-color: #557d00 !important;
}

.acf-fields .acf-field-settings-tab-bar li.active a,
.acf-fields .acf-tab-wrap .acf-tab-group li.active a,
.acf-admin-page.acf-internal-post-type .acf-field-settings-tab-bar li.active a,
.acf-admin-page.acf-internal-post-type .acf-tab-wrap .acf-tab-group li.active a,
.acf-browse-fields-modal-wrap .acf-field-settings-tab-bar li.active a,
.acf-browse-fields-modal-wrap .acf-tab-wrap .acf-tab-group li.active a {
  border-bottom-color: #6da100 !important;
}
