///
/// Layout variables
///

/// Content width
/// If you this is changed you may want to
/// change the media content width in the
/// `setup` method, `Setup` class.
///
/// @see includes/classes/core/class-setup.php
$content_width: 1280px;

// Primary tablet break point.
$break_primary_tablet: 800px;

// Primary phone break point.
$break_primary_phone: 600px;
