:root {
  --fct-bg-color: #ffffff;
  --fct-text-color: #333333;
  --fct-link-color: #0000ff;
  --fct-link-action-color: #551a8b;
  --fct-sans-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --fct-serif-stack: 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --fct-box-border-color: #cccccc;
  --fct-form--font-weight: 400;
  --fct-form--bg-color: var( --fct-bg-color, inherit );
  --fct-form--border-color: var( --fct-box-border-color );
  --fct-form--action-border-color: #0000ff;
  --fct-form--placeholder-color: #888888;
  --fct-button--font-weight: 700;
  --fct-button--bg-color: var( --fct-bg-color, inherit );
  --fct-button--action-bg-color: #cccccc;
  --fct-button--border-color: var( --fct-form--border-color );
  --fct-button--text-color: var( --fct-form--text-color );
  --fct-button--action-text-color: var( --fct-form--text-color );
  --fct-content-width: 1280px;
  --fct-secondary-min-width: 240px;
  --fct-secondary-max-width: 320px;
  --fct-content-separator: 2rem;
  --fct-nav--bg-color: var( --fct-bg-color, inherit );
  --fct-subnav---bg-color: var( --fct-nav--bg-color );
  --fct-copyright-font-size: 0.825em;
}

.site-header {
  padding: 0 2em;
}

.site-title {
  margin: 0;
  /* Match <p> tag to <h1> tag on front page */
  font-size: var(--fct-site-title-size, var(--fct-primary-heading-size, 2rem));
  font-weight: var(--fct-site-title-weight, var(--fct-primary-heading-weight, 700));
  color: var(--fct-site-title-color, inherit);
}

.site-title a {
  color: var(--fct-site-title-link-color, var(--fct-site-title-color, inherit));
  text-decoration: inherit;
}

.site-description {
  margin: 0;
  font-size: var(--fct-site-description-size, inherit);
}

.site-header-image {
  margin: 1em 0;
}

.site-branding-wrap {
  width: 100%;
  max-width: var(--fct-content-width);
  margin: 0 auto;
}

.site-branding-wrap .site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: var(--fct-content-width);
  margin: 0 auto;
  padding: 1em 0 0;
}

@media screen and (max-width: 600px) {
  .site-branding-wrap .site-branding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-branding-wrap .site-branding img {
  margin-right: 1em;
  max-height: 80px;
}

@media screen and (max-width: 600px) {
  .site-branding-wrap .site-branding img {
    margin: 0;
  }
}

.site-branding-wrap.nav-aside-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-branding-wrap.nav-aside-branding .site-branding {
  width: auto;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .site-branding-wrap.nav-aside-branding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-branding-wrap.nav-aside-branding .site-title-description {
    text-align: center;
  }
}

.site-branding-wrap {
  max-width: 100%;
}

.site-branding-wrap .site-branding {
  max-width: 100%;
  padding: 0;
}

#dashboard-widgets .dashboard-panel-content h2 {
  font-weight: 700;
}

#dashboard-widgets .dashboard-panel-content .dashboard-panel-section-intro h4 {
  font-weight: 700;
}

.wrap {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: var(--fct-bg-color);
  color: var(--fct-text-color);
}

.wrap h1 {
  font-size: 1.625rem;
  font-weight: 700;
}

.wrap .welcome-panel h2 {
  font-size: 1.375rem;
  font-weight: 700;
}

.site-header {
  margin-top: 2rem;
}

#titlediv #title {
  font-size: 1.625rem;
  font-weight: 700;
}

#titlediv #title-prompt-text {
  line-height: 1;
}

#poststuff {
  padding-top: 2rem;
}

.has-admin-header.privacy-settings #wpcontent,
.has-admin-header.privacy-settings.auto-fold #wpcontent,
.has-admin-header.site-health #wpcontent,
.has-admin-header.site-health.auto-fold #wpcontent {
  padding-left: 20px;
}
