///
/// Admin styles
///

@import 'modules/_colors';
@import 'partials/_header';

// Custom admin elements.
.site-branding {
	max-width: 100%;
	padding: 0;
}

// Standard admin elements.
.wrap {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background: $body_bg;
	color: $text_color;

	h1 {
		font-size: 1.625rem;
		font-weight: bold;
	}

	.welcome-panel {
		h2 {
			font-size: 1.375rem;
			font-weight: bold;
		}
	}
}

#titlediv {
	#title {
		font-size: 1.625rem;
		font-weight: bold;
	}
}

#poststuff {
	padding-top: 2rem;
}
