///
/// Admin styles
///

@import 'modules/_colors';
@import 'modules/_typography';
@import 'modules/_layout';
@import 'modules/_root';
@import 'partials/_header';
@import 'partials/_navigation';
@import 'partials/_cascade-admin';

// Standard admin elements.
.wp-admin {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background: var(--fct-bg-color);
	color: var(--fct-text-color);
}

.wrap {

	h1 {
		font-size: 1.625rem;
		font-weight: $primary_heading_weight;
	}

	.welcome-panel {
		h2 {
			font-size: 1.375rem;
			font-weight: $primary_heading_weight;
		}
	}
}

// Custom admin elements.
.site-branding-wrap {
	box-sizing: border-box;
	max-width: 100%;

	.site-branding {
		max-width: 100%;
		padding: 0;
	}
}

// Admin menu.
#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
	font-weight: 600;
}

#adminmenu .wp-not-current-submenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
	border-left: none;
}

#adminmenu a:hover,
.folded #adminmenu .wp-submenu-head:hover {
	box-shadow: none;
}

// Companion plugin elements.
#dashboard-widgets {

	.dashboard-panel-content {

		h2 {
			font-weight: $primary_heading_weight;
		}

		.dashboard-panel-section-intro {
			h4 {
				font-weight: $primary_heading_weight;
			}
		}
	}
}

.site-header {
	margin-top: 2rem;
}

#titlediv {

	#title {
		font-size: 1.625rem;
		font-weight: $primary_heading_weight;
	}

	#title-prompt-text {
		line-height: 1;
	}
}

#poststuff {
	padding-top: 2rem;
}

///
/// Site Health & Privacy
///
/// Some corrections made to better display the admin header.
///
.has-admin-header {

	&.privacy-settings #wpcontent,
	&.privacy-settings.auto-fold #wpcontent,
	&.site-health #wpcontent,
	&.site-health.auto-fold #wpcontent {
		padding-left: 20px;
	}
}
