.site-title {
  margin: 0;
  /* Match <p> tag to <h1> tag on front page */
  font-size: 2rem;
  font-weight: bold;
}

.site-title a {
  color: inherit;
  text-decoration: inherit;
}

.site-description {
  margin: 0;
  font-size: 1rem;
}

.site-header-image {
  margin: 1em 0;
}

.site-branding-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em 2em 0;
}

.site-branding img {
  margin-right: 1em;
  max-height: 80px;
}

.site-branding {
  max-width: 100%;
  padding: 0;
}

.wrap {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: #ffffff;
  color: #333333;
}

.wrap h1 {
  font-size: 1.625rem;
  font-weight: bold;
}

.wrap .welcome-panel h2 {
  font-size: 1.375rem;
  font-weight: bold;
}

#titlediv #title {
  font-size: 1.625rem;
  font-weight: bold;
}

#poststuff {
  padding-top: 2rem;
}
