///
/// Frontend block editor styles
///

@import 'modules/_colors';

// Block editor background color classes.
.has-fct-text-background-color {
	background-color: $text_color;
}

.has-fct-light-gray-background-color {
	background-color: $light_gray;
}

.has-fct-pale-gray-background-color {
	background-color: $pale_gray;
}

.has-fct-white-background-color {
	background-color: $white;
}

.has-fct-error-background-color {
	background-color: $error;
}

.has-fct-warning-background-color {
	background-color: $warning;
}

.has-fct-success-background-color {
	background-color: $success;
}

// Block editor text color classes.
.has-fct-text-color {
	color: $text_color;
}

.has-fct-light-gray-color {
	color: $light_gray;
}

.has-fct-pale-gray-color {
	color: $pale_gray;
}

.has-fct-white-color {
	color: $white;
}

.has-fct-error-color {
	color: $error;
}

.has-fct-warning-color {
	color: $warning;
}

.has-fct-success-color {
	color: $success;
}

.wp-block-cover__inner-container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2em;
}

.no-sidebar {

	.wp-block-cover.alignfull {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc( 50% - 50vw );
	}
}
