///
/// Frontend block editor RTL styles
///

@import 'modules/_colors';
@import 'modules/_layout';
@import 'partials/_forms-rtl';

.no-sidebar {

	.wp-block-cover.alignfull {
		width: 100vw;
		max-width: 100vw;
		margin-left: auto;
		margin-right: calc( 50% - 50vw );
	}
}
