@charset "UTF-8";
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, button, input, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, div, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

*:before, *:after {
  font-size: inherit;
}

img, object, embed, video {
  max-width: 100%;
}

img {
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

hr {
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a, a:hover, a:active, a:focus {
  outline: none;
  background-color: transparent;
}

small {
  font-size: 85%;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

input {
  line-height: normal;
}

input, textarea, select, button {
  border: solid 1px #ccc;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

*::-webkit-input-placeholder {
  color: #888;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #888;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #888;
  opacity: 1;
}

*::placeholder {
  color: #888;
  opacity: 1;
}

textarea {
  overflow: auto;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, html input[type="button"], input[type="reset"], input[type="submit"], input[type="image"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

td, td img {
  font-weight: normal;
  vertical-align: top;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

dfn {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

blockquote {
  quotes: none;
}

q, cite {
  font-style: italic;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden], template {
  display: none;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

pre, code, kbd, samp {
  font-family: 'Courier New', Courier, monospace;
}

b, strong, optgroup {
  font-weight: bold;
}

.clearfix {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
}

:root {
  --fct-bg-color: #ffffff;
  --fct-text-color: #333333;
  --fct-link-color: #0000ff;
  --fct-link-action-color: #551a8b;
  --fct-sans-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --fct-serif-stack: 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --fct-box-border-color: #cccccc;
  --fct-form--font-weight: 400;
  --fct-form--bg-color: var( --fct-bg-color, inherit );
  --fct-form--border-color: var( --fct-box-border-color );
  --fct-form--action-border-color: #0000ff;
  --fct-form--placeholder-color: #888888;
  --fct-button--font-weight: 700;
  --fct-button--bg-color: var( --fct-bg-color, inherit );
  --fct-button--action-bg-color: #cccccc;
  --fct-button--border-color: var( --fct-form--border-color );
  --fct-button--text-color: var( --fct-form--text-color );
  --fct-button--action-text-color: var( --fct-form--text-color );
  --fct-content-width: 1280px;
  --fct-secondary-min-width: 240px;
  --fct-secondary-max-width: 320px;
  --fct-content-separator: 2rem;
  --fct-nav--bg-color: var( --fct-bg-color, inherit );
  --fct-subnav---bg-color: var( --fct-nav--bg-color );
  --fct-copyright-font-size: 0.825em;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--fct-font-stack, var(--fct-sans-stack));
  font-size: var(--fct-font-size, 1rem);
  line-height: var(--fct-line-height, 1.5);
  background: var(--fct-bg-color);
  color: var(--fct-text-color);
}

.serif {
  font-family: var(--fct-serif-stack);
}

.entry-content,
.sidebar,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 1em;
}

h1,
h2 {
  font-size: var(--fct-primary-heading-size, 1.625rem);
  font-weight: var(--fct-primary-heading-weight, 700);
}

h3 {
  font-size: var(--fct-h3-heading-size, 1.3125rem);
  font-weight: var(--fct-secondary-heading-weight, 700);
}

h4 {
  font-size: 1.25rem;
  font-weight: var(--fct-h4-heading-weight, 700);
}

a {
  color: var(--fct-link-color);
}

a:hover, a.hover, a:focus, a.focus {
  color: var(--fct-link-action-color);
}

.dark-mode {
  --fct-bg-color: #1e1e1e;
  --fct-text-color: #ffffff;
  --fct-link-color: #ffffff;
  --fct-link-action-color: #eeeeee;
  --fct-box-border-color: #555555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fct-bg-color: #1e1e1e;
    --fct-text-color: #ffffff;
    --fct-link-color: #ffffff;
    --fct-link-action-color: #eeeeee;
    --fct-box-border-color: #555555;
  }
}

#wpadminbar,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  background: var(--fct-adminbar-bg-color, var(--fct-frontend-adminbar-bg-color, #333333));
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.site {
  background-color: inherit;
}

.site-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: var(--fct-content-width);
  margin: 0 auto;
  padding: 2em;
}

.site-content .content-area {
  width: 100%;
  margin-right: var(--fct-content-separator);
  max-width: calc( 100% - var( --fct-secondary-min-width ) - var( --fct-content-separator ));
  overflow-x: hidden;
}

.no-sidebar .site-content .content-area {
  max-width: 100%;
  margin-right: unset;
  overflow: unset;
}

main article {
  clear: both;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

#secondary {
  min-width: var(--fct-secondary-min-width);
  max-width: var(--fct-secondary-max-width);
}

@media screen and (max-width: 800px) {
  .site-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-content .content-area {
    margin-right: unset;
    max-width: 100%;
  }
  #secondary {
    max-width: 100%;
  }
}

form * + * {
  margin-top: 1em;
}

fieldset {
  margin-top: 1em;
  padding: 1em 1.5em;
  border: solid 1px var(--fct-form--border-color);
}

legend {
  padding: 0 0.5em;
}

input,
textarea,
select,
button,
.button {
  width: 100%;
  max-width: 640px;
  padding: 1rem;
  font: inherit;
  font-weight: var(--fct-form--font-weight, 400);
  background-color: var(--fct-form--bg-color);
  border: solid 1px var(--fct-form--border-color);
  color: var(--fct-text-color);
}

input:focus, input.focus,
textarea:focus,
textarea.focus,
select:focus,
select.focus,
button:focus,
button.focus,
.button:focus,
.button.focus {
  border-color: var(--fct-form--action-border-color);
}

label + input:not([type="checkbox"]):not([type="radio"]),
label ~ input:not([type="checkbox"]):not([type="radio"]),
label + button,
label ~ button,
label + textarea,
label ~ textarea,
label + select,
label ~ select {
  margin-top: 0;
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  cursor: pointer;
}

button,
.button,
button[type="submit"],
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="image"] {
  display: inline-block;
  width: auto;
  line-height: 1;
  cursor: pointer;
  font-weight: var(--fct-button--font-weight, 700);
  background-color: var(--fct-button--bg-color);
  border-color: var(--fct-button--border-color, var(--fct-form--border-color));
  color: var(--fct-button--text-color, var(--fct-text-color));
  text-decoration: none;
}

button svg,
.button svg,
button[type="submit"] svg,
input[type="submit"] svg,
input[type="button"] svg,
input[type="reset"] svg,
input[type="image"] svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: currentColor;
}

button:hover, button.hover, button:focus, button.focus,
.button:hover,
.button.hover,
.button:focus,
.button.focus,
button[type="submit"]:hover,
button[type="submit"].hover,
button[type="submit"]:focus,
button[type="submit"].focus,
input[type="submit"]:hover,
input[type="submit"].hover,
input[type="submit"]:focus,
input[type="submit"].focus,
input[type="button"]:hover,
input[type="button"].hover,
input[type="button"]:focus,
input[type="button"].focus,
input[type="reset"]:hover,
input[type="reset"].hover,
input[type="reset"]:focus,
input[type="reset"].focus,
input[type="image"]:hover,
input[type="image"].hover,
input[type="image"]:focus,
input[type="image"].focus {
  background-color: var(--fct-button--action-bg-color);
  border-color: var(--fct-button--action-border-color);
  color: var(--fct-button--action-text-color);
}

input[type="number"] {
  width: auto;
  padding: 0.6em 1em;
}

input[type="range"] {
  padding: 1.3em 1em;
  cursor: pointer;
}

button:disabled,
button[disabled],
input:disabled,
input[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
}

textarea {
  min-height: 200px;
  margin-top: 1em;
  padding: 1em;
  font: inherit;
  font-size: 85%;
}

select {
  margin-top: 1em;
  padding: 0.5em 1em;
  font: inherit;
}

option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

*::-webkit-input-placeholder {
  color: var(--fct-form--placeholder-color);
}

*::-o-placeholder {
  color: var(--fct-form--placeholder-color);
}

*:-ms-input-placeholder {
  color: var(--fct-form--placeholder-color);
}

*::-ms-input-placeholder {
  color: var(--fct-form--placeholder-color);
}

*::placeholder {
  color: var(--fct-form--placeholder-color);
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: 1em;
}

h2 + .search-form {
  margin-top: 0.5em;
}

.search-label,
.search-form input[type="search"],
.search-form input[type="submit"] {
  display: inline-block;
  margin-top: 0;
}

.search-label {
  margin-right: 0.3em;
}

.search-submit {
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

.search-form input[type="search"]:focus {
  z-index: 1;
}

.dark-mode {
  --fct-form--bg-color: var( --fct-bg-color, inherit );
  --fct-form--border-color: #555555;
  --fct-form--action-border-color: #ffffff;
  --fct-button--action-bg-color: #555555;
  --fct-form--placeholder-color: #888888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fct-form--bg-color: var( --fct-bg-color, inherit );
    --fct-form--border-color: #555555;
    --fct-button--action-bg-color: #555555;
    --fct-form--placeholder-color: #888888;
  }
}

.site-header {
  padding: 0 2em;
}

.site-title {
  margin: 0;
  /* Match <p> tag to <h1> tag on front page */
  font-size: var(--fct-site-title-size, var(--fct-primary-heading-size, 2rem));
  font-weight: var(--fct-site-title-weight, var(--fct-primary-heading-weight, 700));
  color: var(--fct-site-title-color, inherit);
}

.site-title a {
  color: var(--fct-site-title-link-color, var(--fct-site-title-color, inherit));
  text-decoration: inherit;
}

.site-description {
  margin: 0;
  font-size: var(--fct-site-description-size, inherit);
}

.site-header-image {
  margin: 1em 0;
}

.site-branding-wrap {
  width: 100%;
  max-width: var(--fct-content-width);
  margin: 0 auto;
}

.site-branding-wrap .site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: var(--fct-content-width);
  margin: 0 auto;
  padding: 1em 0 0;
}

@media screen and (max-width: 600px) {
  .site-branding-wrap .site-branding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-branding-wrap .site-branding img {
  margin-right: 1em;
  max-height: 80px;
}

@media screen and (max-width: 600px) {
  .site-branding-wrap .site-branding img {
    margin: 0;
  }
}

.site-branding-wrap.nav-aside-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-branding-wrap.nav-aside-branding .site-branding {
  width: auto;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .site-branding-wrap.nav-aside-branding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-branding-wrap.nav-aside-branding .site-title-description {
    text-align: center;
  }
}

.main-navigation {
  clear: both;
  display: block;
  width: 100%;
  max-width: var(--fct-content-width);
  margin: 1em auto 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.main-navigation #main-menu-wrap {
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: var(--fct-nav--bg-color, inherit);
  color: var(--fct-nav--text-color, inherit);
}

.main-navigation ul ul {
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
  width: 100%;
  min-width: 160px;
  background-color: var(--fct-subnav--bg-color);
  border: solid 1px var(--fct-subnav--border-color, var(--fct-box-border-color));
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  color: var(--fct-subnav--text-color, inherit);
}

@media screen and (max-width: 800px) {
  .main-navigation ul ul {
    position: unset;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
  padding-top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation ul ul li {
  line-height: 1.25em;
}

.main-navigation ul ul li a {
  width: 100%;
  padding: 0.5em 0.75em;
  background-color: var(--fct-subnav--link-bg-color);
  color: var(--fct-subnav--link-text-color, var(--fct-link-color));
}

.main-navigation ul ul li a:hover, .main-navigation ul ul li a:focus {
  background-color: var(--fct-subnav--link-action-bg-color);
  color: var(--fct-subnav--link-action-text-color, var(--fct-link-action-color));
}

.main-navigation li {
  overflow: visible;
  cursor: default;
}

.main-navigation li:hover > ul,
.main-navigation li:focus > ul,
.main-navigation li.focus > ul {
  left: 0;
}

.main-navigation a {
  display: inline-block;
  padding: 0.5em 0;
  color: var(--fct-nav--link-text-color, var(--fct-link-color));
  text-decoration: none;
}

.main-navigation a:hover, .main-navigation a.hover, .main-navigation a:focus, .main-navigation a.focus {
  color: var(--fct-nav--link-action-text-color, var(--fct-link-action-color));
}

.site-branding-wrap.nav-aside-branding .main-navigation {
  width: auto;
  margin: 0;
}

.site-branding-wrap.nav-aside-branding .main-navigation ul ul {
  left: auto;
  right: -999em;
}

.site-branding-wrap.nav-aside-branding .main-navigation ul ul ul {
  right: -999em;
  top: 0;
}

.site-branding-wrap.nav-aside-branding .main-navigation ul ul li:hover > ul,
.site-branding-wrap.nav-aside-branding .main-navigation ul ul li.focus > ul {
  right: 100%;
}

.site-branding-wrap.nav-aside-branding .main-navigation li:hover > ul,
.site-branding-wrap.nav-aside-branding .main-navigation li:focus > ul,
.site-branding-wrap.nav-aside-branding .main-navigation li.focus > ul {
  right: 0;
}

.site-main .comment-navigation,
.site-main .posts-navigation .nav-links,
.site-main .post-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 1.5em;
  overflow: hidden;
}

.site-main .comment-navigation button,
.site-main .comment-navigation .button,
.site-main .posts-navigation .nav-links button,
.site-main .posts-navigation .nav-links .button,
.site-main .post-navigation button,
.site-main .post-navigation .button {
  display: inline-block;
  width: auto;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--fct-button--bg-color);
  border: solid 1px var(--fct-button--border-color, var(--fct-form--border-color));
  color: var(--fct-button--text-color, var(--fct-text-color));
}

.site-main .comment-navigation button:hover, .site-main .comment-navigation button.hover, .site-main .comment-navigation button:focus, .site-main .comment-navigation button.focus,
.site-main .comment-navigation .button:hover,
.site-main .comment-navigation .button.hover,
.site-main .comment-navigation .button:focus,
.site-main .comment-navigation .button.focus,
.site-main .posts-navigation .nav-links button:hover,
.site-main .posts-navigation .nav-links button.hover,
.site-main .posts-navigation .nav-links button:focus,
.site-main .posts-navigation .nav-links button.focus,
.site-main .posts-navigation .nav-links .button:hover,
.site-main .posts-navigation .nav-links .button.hover,
.site-main .posts-navigation .nav-links .button:focus,
.site-main .posts-navigation .nav-links .button.focus,
.site-main .post-navigation button:hover,
.site-main .post-navigation button.hover,
.site-main .post-navigation button:focus,
.site-main .post-navigation button.focus,
.site-main .post-navigation .button:hover,
.site-main .post-navigation .button.hover,
.site-main .post-navigation .button:focus,
.site-main .post-navigation .button.focus {
  background-color: var(--fct-button--action-bg-color);
  border-color: var(--fct-button--action-border-color);
  color: var(--fct-button--action-text-color);
}

.site-main .comment-navigation button:before, .site-main .comment-navigation button:after,
.site-main .comment-navigation .button:before,
.site-main .comment-navigation .button:after,
.site-main .posts-navigation .nav-links button:before,
.site-main .posts-navigation .nav-links button:after,
.site-main .posts-navigation .nav-links .button:before,
.site-main .posts-navigation .nav-links .button:after,
.site-main .post-navigation button:before,
.site-main .post-navigation button:after,
.site-main .post-navigation .button:before,
.site-main .post-navigation .button:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.site-main .comment-navigation button.nav-previous:before,
.site-main .comment-navigation .button.nav-previous:before,
.site-main .posts-navigation .nav-links button.nav-previous:before,
.site-main .posts-navigation .nav-links .button.nav-previous:before,
.site-main .post-navigation button.nav-previous:before,
.site-main .post-navigation .button.nav-previous:before {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23333333' d='M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z'/></svg>");
}

.site-main .comment-navigation button.nav-previous:hover:before, .site-main .comment-navigation button.nav-previous.hover:before, .site-main .comment-navigation button.nav-previous:focus:before, .site-main .comment-navigation button.nav-previous.focus:before,
.site-main .comment-navigation .button.nav-previous:hover:before,
.site-main .comment-navigation .button.nav-previous.hover:before,
.site-main .comment-navigation .button.nav-previous:focus:before,
.site-main .comment-navigation .button.nav-previous.focus:before,
.site-main .posts-navigation .nav-links button.nav-previous:hover:before,
.site-main .posts-navigation .nav-links button.nav-previous.hover:before,
.site-main .posts-navigation .nav-links button.nav-previous:focus:before,
.site-main .posts-navigation .nav-links button.nav-previous.focus:before,
.site-main .posts-navigation .nav-links .button.nav-previous:hover:before,
.site-main .posts-navigation .nav-links .button.nav-previous.hover:before,
.site-main .posts-navigation .nav-links .button.nav-previous:focus:before,
.site-main .posts-navigation .nav-links .button.nav-previous.focus:before,
.site-main .post-navigation button.nav-previous:hover:before,
.site-main .post-navigation button.nav-previous.hover:before,
.site-main .post-navigation button.nav-previous:focus:before,
.site-main .post-navigation button.nav-previous.focus:before,
.site-main .post-navigation .button.nav-previous:hover:before,
.site-main .post-navigation .button.nav-previous.hover:before,
.site-main .post-navigation .button.nav-previous:focus:before,
.site-main .post-navigation .button.nav-previous.focus:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23333333' d='M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z'/></svg>");
}

.site-main .comment-navigation button.nav-next:after,
.site-main .comment-navigation .button.nav-next:after,
.site-main .posts-navigation .nav-links button.nav-next:after,
.site-main .posts-navigation .nav-links .button.nav-next:after,
.site-main .post-navigation button.nav-next:after,
.site-main .post-navigation .button.nav-next:after {
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23333333' d='M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z'/></svg>");
}

.site-main .comment-navigation button.nav-next:hover:after, .site-main .comment-navigation button.nav-next.hover:after, .site-main .comment-navigation button.nav-next:focus:after, .site-main .comment-navigation button.nav-next.focus:after,
.site-main .comment-navigation .button.nav-next:hover:after,
.site-main .comment-navigation .button.nav-next.hover:after,
.site-main .comment-navigation .button.nav-next:focus:after,
.site-main .comment-navigation .button.nav-next.focus:after,
.site-main .posts-navigation .nav-links button.nav-next:hover:after,
.site-main .posts-navigation .nav-links button.nav-next.hover:after,
.site-main .posts-navigation .nav-links button.nav-next:focus:after,
.site-main .posts-navigation .nav-links button.nav-next.focus:after,
.site-main .posts-navigation .nav-links .button.nav-next:hover:after,
.site-main .posts-navigation .nav-links .button.nav-next.hover:after,
.site-main .posts-navigation .nav-links .button.nav-next:focus:after,
.site-main .posts-navigation .nav-links .button.nav-next.focus:after,
.site-main .post-navigation button.nav-next:hover:after,
.site-main .post-navigation button.nav-next.hover:after,
.site-main .post-navigation button.nav-next:focus:after,
.site-main .post-navigation button.nav-next.focus:after,
.site-main .post-navigation .button.nav-next:hover:after,
.site-main .post-navigation .button.nav-next.hover:after,
.site-main .post-navigation .button.nav-next:focus:after,
.site-main .post-navigation .button.nav-next.focus:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23333333' d='M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z'/></svg>");
}

.site-main .comment-navigation .nav-links {
  margin: 1rem 0;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled-open ul {
  display: block;
  font-size: 1.25rem;
}

.menu-toggle button {
  background: inherit;
  border: none;
  color: inherit;
}

.menu-toggle button:hover, .menu-toggle button.hover, .menu-toggle button:focus, .menu-toggle button.focus {
  background: inherit;
  border: none;
  color: inherit;
}

.menu-toggle button svg {
  position: relative;
  vertical-align: baseline;
  fill: currentColor;
}

.menu-toggle button svg.menu-open {
  top: 0.05em;
  width: 1rem;
  height: 1rem;
}

.menu-toggle button svg.menu-close {
  display: none;
  top: 0.13em;
  width: 1.1rem;
  height: 1.1rem;
}

.main-navigation.toggled-open button svg.menu-open {
  display: none;
}

.main-navigation.toggled-open button svg.menu-close {
  display: inline;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.dark-mode {
  --fct-subnav--link-action-bg-color: #555555;
}

.dark-mode .site-main .comment-navigation button.nav-previous:before,
.dark-mode .site-main .comment-navigation .button.nav-previous:before,
.dark-mode .site-main .posts-navigation .nav-links button.nav-previous:before,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-previous:before,
.dark-mode .site-main .post-navigation button.nav-previous:before,
.dark-mode .site-main .post-navigation .button.nav-previous:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23ffffff' d='M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z'/></svg>");
}

.dark-mode .site-main .comment-navigation button.nav-previous:hover:before, .dark-mode .site-main .comment-navigation button.nav-previous.hover:before, .dark-mode .site-main .comment-navigation button.nav-previous:focus:before, .dark-mode .site-main .comment-navigation button.nav-previous.focus:before,
.dark-mode .site-main .comment-navigation .button.nav-previous:hover:before,
.dark-mode .site-main .comment-navigation .button.nav-previous.hover:before,
.dark-mode .site-main .comment-navigation .button.nav-previous:focus:before,
.dark-mode .site-main .comment-navigation .button.nav-previous.focus:before,
.dark-mode .site-main .posts-navigation .nav-links button.nav-previous:hover:before,
.dark-mode .site-main .posts-navigation .nav-links button.nav-previous.hover:before,
.dark-mode .site-main .posts-navigation .nav-links button.nav-previous:focus:before,
.dark-mode .site-main .posts-navigation .nav-links button.nav-previous.focus:before,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-previous:hover:before,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-previous.hover:before,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-previous:focus:before,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-previous.focus:before,
.dark-mode .site-main .post-navigation button.nav-previous:hover:before,
.dark-mode .site-main .post-navigation button.nav-previous.hover:before,
.dark-mode .site-main .post-navigation button.nav-previous:focus:before,
.dark-mode .site-main .post-navigation button.nav-previous.focus:before,
.dark-mode .site-main .post-navigation .button.nav-previous:hover:before,
.dark-mode .site-main .post-navigation .button.nav-previous.hover:before,
.dark-mode .site-main .post-navigation .button.nav-previous:focus:before,
.dark-mode .site-main .post-navigation .button.nav-previous.focus:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23ffffff' d='M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z'/></svg>");
}

.dark-mode .site-main .comment-navigation button.nav-next:after,
.dark-mode .site-main .comment-navigation .button.nav-next:after,
.dark-mode .site-main .posts-navigation .nav-links button.nav-next:after,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-next:after,
.dark-mode .site-main .post-navigation button.nav-next:after,
.dark-mode .site-main .post-navigation .button.nav-next:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23ffffff' d='M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z'/></svg>");
}

.dark-mode .site-main .comment-navigation button.nav-next:hover:after, .dark-mode .site-main .comment-navigation button.nav-next.hover:after, .dark-mode .site-main .comment-navigation button.nav-next:focus:after, .dark-mode .site-main .comment-navigation button.nav-next.focus:after,
.dark-mode .site-main .comment-navigation .button.nav-next:hover:after,
.dark-mode .site-main .comment-navigation .button.nav-next.hover:after,
.dark-mode .site-main .comment-navigation .button.nav-next:focus:after,
.dark-mode .site-main .comment-navigation .button.nav-next.focus:after,
.dark-mode .site-main .posts-navigation .nav-links button.nav-next:hover:after,
.dark-mode .site-main .posts-navigation .nav-links button.nav-next.hover:after,
.dark-mode .site-main .posts-navigation .nav-links button.nav-next:focus:after,
.dark-mode .site-main .posts-navigation .nav-links button.nav-next.focus:after,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-next:hover:after,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-next.hover:after,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-next:focus:after,
.dark-mode .site-main .posts-navigation .nav-links .button.nav-next.focus:after,
.dark-mode .site-main .post-navigation button.nav-next:hover:after,
.dark-mode .site-main .post-navigation button.nav-next.hover:after,
.dark-mode .site-main .post-navigation button.nav-next:focus:after,
.dark-mode .site-main .post-navigation button.nav-next.focus:after,
.dark-mode .site-main .post-navigation .button.nav-next:hover:after,
.dark-mode .site-main .post-navigation .button.nav-next.hover:after,
.dark-mode .site-main .post-navigation .button.nav-next:focus:after,
.dark-mode .site-main .post-navigation .button.nav-next.focus:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23ffffff' d='M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z'/></svg>");
}

@media (prefers-color-scheme: dark) {
  :root {
    --fct-subnav--link-action-bg-color: #555555;
  }
  .site-main .comment-navigation button.nav-previous:before,
  .site-main .comment-navigation .button.nav-previous:before,
  .site-main .posts-navigation .nav-links button.nav-previous:before,
  .site-main .posts-navigation .nav-links .button.nav-previous:before,
  .site-main .post-navigation button.nav-previous:before,
  .site-main .post-navigation .button.nav-previous:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23ffffff' d='M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z'/></svg>");
  }
  .site-main .comment-navigation button.nav-previous:hover:before, .site-main .comment-navigation button.nav-previous.hover:before, .site-main .comment-navigation button.nav-previous:focus:before, .site-main .comment-navigation button.nav-previous.focus:before,
  .site-main .comment-navigation .button.nav-previous:hover:before,
  .site-main .comment-navigation .button.nav-previous.hover:before,
  .site-main .comment-navigation .button.nav-previous:focus:before,
  .site-main .comment-navigation .button.nav-previous.focus:before,
  .site-main .posts-navigation .nav-links button.nav-previous:hover:before,
  .site-main .posts-navigation .nav-links button.nav-previous.hover:before,
  .site-main .posts-navigation .nav-links button.nav-previous:focus:before,
  .site-main .posts-navigation .nav-links button.nav-previous.focus:before,
  .site-main .posts-navigation .nav-links .button.nav-previous:hover:before,
  .site-main .posts-navigation .nav-links .button.nav-previous.hover:before,
  .site-main .posts-navigation .nav-links .button.nav-previous:focus:before,
  .site-main .posts-navigation .nav-links .button.nav-previous.focus:before,
  .site-main .post-navigation button.nav-previous:hover:before,
  .site-main .post-navigation button.nav-previous.hover:before,
  .site-main .post-navigation button.nav-previous:focus:before,
  .site-main .post-navigation button.nav-previous.focus:before,
  .site-main .post-navigation .button.nav-previous:hover:before,
  .site-main .post-navigation .button.nav-previous.hover:before,
  .site-main .post-navigation .button.nav-previous:focus:before,
  .site-main .post-navigation .button.nav-previous.focus:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23ffffff' d='M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z'/></svg>");
  }
  .site-main .comment-navigation button.nav-next:after,
  .site-main .comment-navigation .button.nav-next:after,
  .site-main .posts-navigation .nav-links button.nav-next:after,
  .site-main .posts-navigation .nav-links .button.nav-next:after,
  .site-main .post-navigation button.nav-next:after,
  .site-main .post-navigation .button.nav-next:after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23ffffff' d='M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z'/></svg>");
  }
  .site-main .comment-navigation button.nav-next:hover:after, .site-main .comment-navigation button.nav-next.hover:after, .site-main .comment-navigation button.nav-next:focus:after, .site-main .comment-navigation button.nav-next.focus:after,
  .site-main .comment-navigation .button.nav-next:hover:after,
  .site-main .comment-navigation .button.nav-next.hover:after,
  .site-main .comment-navigation .button.nav-next:focus:after,
  .site-main .comment-navigation .button.nav-next.focus:after,
  .site-main .posts-navigation .nav-links button.nav-next:hover:after,
  .site-main .posts-navigation .nav-links button.nav-next.hover:after,
  .site-main .posts-navigation .nav-links button.nav-next:focus:after,
  .site-main .posts-navigation .nav-links button.nav-next.focus:after,
  .site-main .posts-navigation .nav-links .button.nav-next:hover:after,
  .site-main .posts-navigation .nav-links .button.nav-next.hover:after,
  .site-main .posts-navigation .nav-links .button.nav-next:focus:after,
  .site-main .posts-navigation .nav-links .button.nav-next.focus:after,
  .site-main .post-navigation button.nav-next:hover:after,
  .site-main .post-navigation button.nav-next.hover:after,
  .site-main .post-navigation button.nav-next:focus:after,
  .site-main .post-navigation button.nav-next.focus:after,
  .site-main .post-navigation .button.nav-next:hover:after,
  .site-main .post-navigation .button.nav-next.hover:after,
  .site-main .post-navigation .button.nav-next:focus:after,
  .site-main .post-navigation .button.nav-next.focus:after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'><path fill='%23ffffff' d='M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z'/></svg>");
  }
}

@media screen and (min-width: 800px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-navigation ul li {
    position: relative;
  }
  .main-navigation ul li:not(:last-of-type) {
    margin-right: 1em;
  }
  .main-navigation ul ul {
    display: block;
  }
  .main-navigation ul ul li:not(:last-of-type) {
    margin-right: 0;
  }
}

.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.entry-content blockquote {
  font-size: 1.3125rem;
  line-height: 1.4;
}

.entry-content blockquote p:first-of-type:before, .entry-content blockquote p:first-of-type:after {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.35rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.entry-content blockquote p:first-of-type:before {
  margin-right: 0.5em;
  background-position: left center;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 64 55' xmlns='http://www.w3.org/2000/svg'><path fill='%23888888' d='M51.186,54.996C57.894,54.996 63.336,49.4 63.336,42.496C63.336,35.596 57.894,29.996 51.186,29.996C39.04,29.996 47.136,5.833 63.336,5.833L63.336,0C34.423,-0.004 23.094,54.996 51.186,54.996ZM16.186,54.996C22.89,54.996 28.332,49.4 28.332,42.496C28.332,35.596 22.89,29.996 16.186,29.996C4.036,29.996 12.132,5.833 28.332,5.833L28.332,0C-0.577,-0.004 -11.906,54.996 16.186,54.996Z' /></svg>");
}

.entry-content blockquote p:first-of-type:after {
  margin-left: 0.5em;
  background-position: right center;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 16 14' xmlns='http://www.w3.org/2000/svg'><path fill='%23888888' d='M2.916,0C1.306,0 0,1.343 0,3C0,4.656 1.306,6 2.916,6C5.831,6 3.888,11.799 0,11.799L0,13.199C6.939,13.2 9.658,0 2.916,0ZM11.316,0C9.707,0 8.401,1.343 8.401,3C8.401,4.656 9.707,6 11.316,6C14.232,6 12.289,11.799 8.401,11.799L8.401,13.199C15.339,13.2 18.058,0 11.316,0Z'/></svg>");
}

.entry-content blockquote cite {
  display: block;
  margin-top: 0.5em;
  text-align: right;
  font-size: 1.1875rem;
  font-style: italic;
  font-weight: bold;
  font-weight: 600;
}

.entry-content blockquote cite:before {
  content: '— ';
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-meta,
.entry-footer {
  margin-top: 1em;
}

.entry-footer span {
  margin-right: 1em;
}

.author-section {
  margin-top: 2rem;
}

.author-section .author-link {
  margin-top: 1rem;
}

.single .author-section {
  padding: 2rem;
  border: solid 1px var(--fct-box-border-color);
}

.author-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.author-title-wrapper .author-avatar {
  display: block;
  margin-right: 1.5rem;
  max-width: 64px;
}

.author-title-wrapper .author-avatar img {
  display: block;
}

.author-title-wrapper h1,
.author-title-wrapper h2 {
  margin: 0;
}

.author-avatar {
  display: inline-block;
  vertical-align: middle;
  max-width: 48px;
  margin-right: 0.5rem;
}

#secondary ul,
#secondary ol {
  padding-left: 1em;
}

.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

.wp-block-calendar table th,
.wp-block-calendar tbody td,
.calendar_wrap th,
.calendar_wrap td {
  display: table-cell;
  padding: 3.25% 0.5rem 3%;
  font-size: var(--fct-widget--calendar--font-size, 1em);
  line-height: 1;
  text-align: center;
  border: solid 1px var(--fct-box-border-color);
}

.calendar_wrap table {
  width: 100%;
  max-width: 320px;
}

.calendar_wrap table caption {
  margin-bottom: 0.5em;
  font-weight: 700;
}

.calendar_wrap tfoot #prev,
.calendar_wrap .wp-calendar-nav-prev {
  text-align: left;
}

.calendar_wrap tfoot #next,
.calendar_wrap .wp-calendar-nav-next {
  text-align: right;
}

.wp-block-calendar table th {
  font-weight: 700;
}

.wp-block-calendar td a {
  font-weight: 700;
  text-decoration: none;
}

.wp-block-calendar tbody td,
.wp-block-calendar th {
  border: solid 1px var(--fct-box-border-color);
}

.wp-calendar-table {
  margin-bottom: 0;
}

.wp-calendar-nav {
  display: table;
  width: 100%;
}

img {
  font-size: 75%;
}

img.alignright,
figure.alignright {
  margin: 1em 0 0 1em;
}

img.alignleft,
figure.alignleft {
  margin: 1em 1em 0 0;
}

img.aligncenter,
figure.aligncenter {
  display: block;
  margin: 1em auto;
}

img.alignfull,
figure.alignfull {
  margin: 1em 0 0;
}

img.alignnone,
figure.alignnone {
  margin: 0;
}

body.no-sidebar img.alignfull,
body.no-sidebar figure.alignfull {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  clear: both;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin: 1em auto;
}

.post-thumbnail {
  margin-top: 1em;
}

.post-thumbnail img {
  max-width: 100%;
}

.single .post-thumbnail img,
.page .post-thumbnail img {
  width: 100%;
}

.entry-content p img.alignleft {
  margin: 0 1em 1em 0;
}

.entry-content p img.alignright {
  margin: 0 0 1em 1em;
}

.entry-content p img.aligncenter {
  margin: 2em auto;
}

.wp-caption img {
  display: block;
}

.wp-caption .wp-caption-text {
  margin-top: 0.5em;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
}

article .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1em;
  list-style: none;
  /* for galleries as list elements */
}

article .gallery .gallery-item img {
  border-color: transparent !important;
}

.avatar {
  border-radius: 50%;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-author .avatar {
  vertical-align: middle;
}

.footer-content {
  width: 100%;
  max-width: var(--fct-content-width);
  margin: 0 auto;
  padding: 0 2em;
}

.copyright-text {
  font-size: var(--fct-copyright-font-size);
  text-align: center;
}

.no-js .hide-if-no-js {
  display: none;
}

.js .hide-if-js {
  display: none;
}
