///
/// Main content RTL styles
///

.entry-content {
	blockquote {
		p {
			&:first-of-type {
				&:before,
				&:after {
					display: none;
				}
			}
		}

		cite {
			text-align: left;
		}
	}
}

.entry-footer span {
	margin-right: unset;
	margin-left: 1em;
}

// Author section on single posts.
.author-title-wrapper {

	.author-avatar {
		margin-right: unset;
		margin-left: 1.5rem;
	}
}

.author-avatar {
	margin-right: unset;
	margin-left: 0.5em;
}
