///
/// Main content styles
///

@import '../modules/_icons';

.sticky {
	display: block;
}

.updated:not( .published ) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: var( --fct-entry-content--margin );
}

.entry-content {

	blockquote {
		font-size: var( --fct-blockquote--font-size );
		line-height: var( --fct-blockquote--line-height );

		p {
			&:first-of-type {
				&:before {
					content: '';
					display: inline-block;
					width: var( --fct-blockquote--icon--width );
					height: var( --fct-blockquote--icon--height );
					background-size: contain;
					background-repeat: no-repeat;
					margin: var( --fct-blockquote--icon--margin--before );
					background-position: var( --fct-blockquote--icon--background-position--before, left center );
					background-image: var( --fct-blockquote--icon-image--before, url( $blockquote_icon_image_before ) );
				}
			}

			&:last-of-type {
				&:after {
					content: '';
					display: inline-block;
					width: var( --fct-blockquote--icon--width );
					height: var( --fct-blockquote--icon--height );
					background-size: contain;
					background-repeat: no-repeat;
					margin: var( --fct-blockquote--icon--margin--after );
					background-position: var( --fct-blockquote--icon--background-position--after, right center );
					background-image: var( --fct-blockquote--icon-image--after, url( $blockquote_icon_image_after ) );
				}
			}
		}

		cite {
			display: block;
			margin: var( --fct-blockquote-cite--margin );
			text-align: var( --fct-blockquote-cite--text-align );
			font-size: var( --fct-blockquote-cite--font-size );
			font-style: var( --fct-blockquote-cite--font-style );
			font-weight: var( --fct-blockquote-cite--font-weight, bold );

			&:before {
				// Emdash(—) plus space.
				content: '\002014\0020';
			}
		}
	}
}

.page-links {
	clear: both;
	margin: var( --fct-page-links--margin, 0 0 1.5em );
}

.entry-meta,
.entry-footer {
	margin: var( --fct-entry-details--margin, 1em 0 0 );
}

.entry-footer span {
	margin-right: 1em;
}

// Author section on single posts.
.author-section {
	margin: var( --fct-author-section--margin );
	padding: var( --fct-author-section--padding );
	border: var( --fct-author-section--border );
}

.author-title-wrapper {
	display: flex;
	align-items: center;
	width: 100%;

	.author-avatar {
		display: block;
		margin: var( --fct-author-section--avatar--margin, 0 1.5rem 0 0 );
		max-width: var( --fct-author-section--avatar--max-width, 64px );

		img {
			display: block;
		}
	}

	.author-title {
		margin: var( --fct-author-section--author-title--margin, 0 );
	}
}

// Author avatar used elsewhere.
.author-avatar {
	display: inline-block;
	vertical-align: middle;
	margin: var( --fct-author-avatar--margin, 0 0.5rem 0 0 );
	max-width: var( --fct-author-avatar--max-width, 48px );
}
