///
/// Main content RTL styles
///

:root {
	--fct-blockquote--icon-image--before: '';
	--fct-blockquote--icon-image--after: '';
	--fct-blockquote-cite--text-align: left;
	--fct-author-section--avatar--margin: 0 0 0 1.5rem;
	--fct-author-avatar--margin: 0 0 0 0.5rem;
}

.entry-footer span {
	margin-right: unset;
	margin-left: 1em;
}
