///
/// Footer styles
///

.footer-content {
	width: 100%;
	max-width: var( --fct-content-width );
	margin: 0 auto;
	padding: 2rem;
}

.copyright-text {
	font-size: var( --fct-copyright-font-size );
	text-align: center;
}
