///
/// Site header styles
///

.site-header {
	max-width: 100%;
}

.site-title {
	margin: var( --fct-site-title--margin );

	/* Match <p> tag to <h1> tag on front page */
	font-size: var( --fct-site-title-size, var( --fct-primary-heading-size, 2rem ) );
	font-weight: var( --fct-site-title-weight, var( --fct-primary-heading-weight, 700 ) );
	color: var( --fct-site-title-color, inherit );

	& a {
		color: var( --fct-site-title-link-color, var( --fct-site-title-color, inherit ) );
		text-decoration: inherit;
	}
}

.site-description {
	margin: var( --fct-site-description--margin );
	font-size: var( --fct-site-description-size, inherit );
	color: var( --fct-site-description-color, inherit );
}

.site-header-image {
	overflow: hidden;

	figure {
		height: 100%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			max-height: calc( 288px + var( --fct-spacing--vert, 2rem ) );
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center center;
			object-position: center center;
		}
	}
}

.site-branding-wrap {
	width: 100%;
	margin: 0 auto;
	padding: var( --fct-site-branding--padding );
	background-color: var( --fct-site-header--bg-color );
	color: var( --fct-site-header--text-color );

	.inner-wrap {
		width: 100%;
		max-width: var( --fct-content-width );
	}

	.site-branding {
		display: var( --fct-site-branding--display, flex );
		width: 100%;
		max-width: var( --fct-content-width );
		margin: var( --fct-site-branding--margin, 0 auto );
		align-items: var( --fct-site-branding--align-items, center );

		@media screen and ( max-width: $break_primary_phone ) {
			flex-direction: var( --fct-site-branding--mobile--flex-direction, column );
			align-items: var( --fct-site-branding--mobile--align-items, center );
		}

		.site-logo {
			margin: var( --fct-site-logo--margin );

			@media screen and ( max-width: $break_primary_phone ) {
				margin: var( --fct-site-logo--mobile--margin );
			}

			img {
				display: block;
				max-width: var( --fct-site-logo--max-width, 80px );
				border-radius: var( --fct-site-logo--border-radius );
			}
		}
	}

	&.nav-aside-branding {
		display: var( --fct-nav-aside-branding--display, flex );
		align-items: var( --fct-nav-aside-branding--align-items, center );
		justify-content: var( --fct-nav-aside-branding--justify-content, space-between );
		gap: var( --fct-nav-aside-branding--gap, 0 var( --fct-content-separator, 2rem ) );

		.inner-wrap {
			display: var( --fct-nav-aside-branding--display, flex );
			align-items: var( --fct-nav-aside-branding--align-items, center );
			justify-content: var( --fct-nav-aside-branding--justify-content, space-between );
			gap: var( --fct-nav-aside-branding--gap, 0 var( --fct-content-separator, 2rem ) );
		}

		.site-branding {
			width: var( --fct-nav-aside--site-branding--width, auto );
			margin: var( --fct-nav-aside--site-branding--margin, 0 );
		}

		@media screen and ( max-width: $break_nav_aside_branding ) {
			flex-direction: var( --fct-nav-aside-branding--mobile--flex-direction, column );

			.site-title-description {
				text-align: var( --fct-nav-aside--site-title-description--text-align, center );
			}
		}
	}
}

// Header templates.
.page-cover-title {
	&.page-cover-wide {
		position: relative;
		z-index: 250;
		overflow: hidden;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba( $color: #16110e, $alpha: 0.625 );
		}

		figure {
			height: 100%;

			img {
				display: block;
				width: 100%;
				height: 100%;
				max-height: calc( 288px + var( --fct-spacing--vert, 2rem ) );
				-o-object-fit: cover;
				object-fit: cover;
				-o-object-position: center center;
				object-position: center center;
			}

			figcaption {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: var( --fct-spacing--vert, 2rem ) var( --fct-spacing--horz, 2rem );
				z-index: 100;
				text-align: center;
				pointer-events: none;

				* {
					color: #ffffff;
					text-shadow: 0.05em 0.05em 0.05em rgba( $color: black, $alpha: 0.625 );
				}

				h1 {
					margin: var( --fct-cover--title--margin, 0 );
					font-size: var( --fct-cover--title--font-size, clamp( 2rem, 2.5vw + 1rem, 3.25vw ) );
					font-weight: 550;
					line-height: 1.2;
				}
			}
		}
	}
}
