///
/// Site header styles
///

.site-header {
	padding: var( --fct-site-header--padding );
	background-color: var( --fct-header--background-color );
}

.site-title {
	margin: var( --fct-site-title--margin );

	/* Match <p> tag to <h1> tag on front page */
	font-size: var( --fct-site-title-size, var( --fct-primary-heading-size, 2rem ) );
	font-weight: var( --fct-site-title-weight, var( --fct-primary-heading-weight, 700 ) );
	color: var( --fct-site-title-color, inherit );

	& a {
		color: var( --fct-site-title-link-color, var( --fct-site-title-color, inherit ) );
		text-decoration: inherit;
	}
}

.site-description {
	margin: var( --fct-site-description--margin );
	font-size: var( --fct-site-description-size, inherit );
	color: var( --fct-site-description-color, inherit );
}

.site-header-image {
	padding: var( --fct-site-header-image--padding, 2rem 0 );

	img {
		display: block;
	}
}

.site-branding-wrap {
	width: 100%;
	max-width: var( --fct-content-width );
	margin: 0 auto;

	.site-branding {
		display: var( --fct-site-branding--display, flex );
		width: 100%;
		max-width: var( --fct-content-width );
		margin: var( --fct-site-branding--margin, 0 auto );
		padding: var( --fct-site-branding--padding, 1em 0 0 );

		@media screen and ( max-width: $break_primary_phone ) {
			flex-direction: var( --fct-site-branding--mobile--flex-direction, column );
			align-items: var( --fct-site-branding--mobile--align-items, center );
		}

		.site-logo {
			margin: var( --fct-site-logo--margin );

			@media screen and ( max-width: $break_primary_phone ) {
				margin: var( --fct-site-logo--mobile--margin );
			}

			img {
				display: block;
				max-width: var( --fct-site-logo--max-width, 80px );
				border-radius: var( --fct-site-logo--border-radius );
			}
		}
	}

	&.nav-aside-branding {
		display: var( --fct-nav-aside-branding--display, flex );
		align-items: var( --fct-nav-aside-branding--align-items, center );
		justify-content: var( --fct-nav-aside-branding--justify-content, space-between );

		.site-branding {
			width: var( --fct-nav-aside--site-branding--width, auto );
			margin: var( --fct-nav-aside--site-branding--margin, 0 );
		}

		@media screen and ( max-width: $break_nav_aside_branding ) {
			flex-direction: var( --fct-nav-aside-branding--mobile--flex-direction, column );

			.site-title-description {
				text-align: var( --fct-nav-aside--site-title-description--text-align, center );
			}
		}
	}
}
