///
/// Site layout RTL styles
///

:root {
	--fct-content-area--margin: 0 0 0 var( --fct-content-separator );
}

.no-sidebar {
	.site-content {
		.content-area {
			margin-left: 0;
		}
	}
}

@media screen and ( max-width: $break_primary_tablet ) {

	.site-content {
		.content-area {
			margin-left: 0;
		}
	}
}
