///
/// Site layout RTL styles
///

// Variables.
$content_separator: 2em;

.site-content {
	.content-area {
		margin-right: unset;
		margin-left: $content_separator;
	}
}

@media screen and ( max-width: 768px ) {

	.site-content {
		.content-area {
			margin-left: unset;
		}
	}
}
