///
/// Images & media RTL styles
///

:root {
	--fct-media-alignleft--margin: 1em 0 0 1em;
	--fct-media-alignright--margin: 1em 1em 0 0;
	--fct-p-media-alignleft--margin: 0 1em 1em 0;
	--fct-p-media-alignright--margin: 0 0 1em 1em;
	--fct-media-alignleft--float: right;
	--fct-media-alignright--float: left;
}
