///
/// Images & media styles
///

img {
	font-size: var( --fct-image--font-size, 75% ); // For alt text.
}

img,
figure {

	&.alignright {
		margin: var( --fct-media-alignright--margin );
	}

	&.alignleft {
		margin: var( --fct-media-alignleft--margin );
	}

	&.aligncenter {
		display: block;
		margin: var( --fct-media-aligncenter--margin );
	}

	&.alignfull {
		margin: var( --fct-media-alignfull--margin );
	}

	&.alignnone {
		margin: var( --fct-media-alignnone--margin );
	}
}

// Full viewport width images only if no sidebar.
body.no-sidebar {
	img,
	figure {
		&.alignfull {
			position: relative;
			left: 50%;
			-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
			clear: both;
			width: 100vw;
			max-width: 100vw;
			overflow-x: hidden;
		}
	}
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.alignleft {
	float: var( --fct-media-alignleft--float );
}

.alignright {
	float: var( --fct-media-alignright--float );
}

.aligncenter {
	display: block;
	margin: var( --fct-media-aligncenter--margin );
}

.post-thumbnail {
	margin: var( --fct-post-thumbnail--margin, 1em 0 0 );
}

.post-thumbnail img {
	max-width: 100%;
}

.single .post-thumbnail img,
.page .post-thumbnail img {
	width: 100%;
}

.entry-content p img {

	&.alignleft {
		margin: var( --fct-p-media-alignleft--margin );
	}

	&.alignright {
		margin: var( --fct-p-media-alignright--margin );
	}

	&.aligncenter {
		margin: var( --fct-p-media-aligncenter--margin );
	}
}

.wp-caption {

	img {
		display: block;
	}

	.wp-caption-text {
		margin: var( --fct-media-caption--margin );
		font-size: var( --fct-media-caption--font-size );
		font-weight: var( --fct-media-caption--font-weight );
		text-align: var( --fct-media-caption--text-align );
	}
}

article .gallery {
	display: var( --fct-media-gallery--article--display );
	flex-wrap: var( --fct-media-gallery--article--flex-wrap );
	gap: var( --fct-media-gallery--article--gap );
	margin: var( --fct-media-gallery--article--margin );
	list-style: none; /* for galleries as list elements */

	.gallery-item {
		img {
			border-color: transparent !important;
		}
	}

	& + .gallery {
		margin: var( --fct-media-gallery-plus--article--margin );
	}

	.gallery-caption {}
}

.wp-block-gallery + .wp-block-gallery {
	margin: var( --fct-media-gallery-plus--article--margin );
}

.avatar {
	border-radius: var( --fct-avatar-general--border-radius );
}
