///
/// Sidebar & widget styles
///

#secondary ul,
#secondary ol {
	padding-left: 1em;
}

.widget {
	margin: 0 0 1.5em;

	& select {
		max-width: 100%;
	}
}

// Widget: Calendar.
.wp-block-calendar table th,
.wp-block-calendar tbody td,
.calendar_wrap th,
.calendar_wrap td {
	display: table-cell;
	padding: 3.25% 0.5rem 3%;
	font-size: var( --fct-widget--calendar--font-size, 1em );
	line-height: 1;
	text-align: center;
	border: solid 1px var( --fct-box-border-color );
}

.calendar_wrap {

	table {
		width: 100%;
		max-width: 320px;

		caption {
			margin-bottom: 0.5em;
			font-weight: 700;
		}
	}

	tfoot #prev,
	.wp-calendar-nav-prev {
		text-align: left;
	}

	tfoot #next,
	.wp-calendar-nav-next {
		text-align: right;
	}
}

.wp-block-calendar {

	table th {
		font-weight: 700;
	}

	td a {
		font-weight: 700;
		text-decoration: none;
	}

	tbody td,
	th {
		border: solid 1px var( --fct-box-border-color );
	}
}

.wp-calendar-table {
	margin-bottom: 0;
}

.wp-calendar-nav {
	display: table;
	width: 100%;
}
