///
/// Sidebar & widget styles
///

#secondary ul,
#secondary ol {
	padding: var( --fct-sidebar--list--padding );
}

.widget {
	margin: var( --fct-sidebar--widget--margin, 0 0 1.5em );

	& select {
		max-width: 100%;
	}
}

// Widget: Calendar.
.wp-block-calendar table th,
.wp-block-calendar tbody td,
.calendar_wrap th,
.calendar_wrap td {
	display: var( --fct-widget--calendar--cell--display );
	padding: var( --fct-widget--calendar--cell--padding );
	font-size: var( --fct-widget--calendar--cell--font-size );
	line-height: var( --fct-widget--calendar--cell--line-height );
	text-align: var( --fct-widget--calendar--cell--text-align );
	border: var( --fct-widget--calendar--cell--border );
}

.calendar_wrap {

	table {
		width: 100%;
		max-width: var( --fct-secondary-max-width );

		caption {
			margin-bottom: 0.5em;
			font-weight: 700;
		}
	}

	tfoot #prev,
	.wp-calendar-nav-prev {
		text-align: left;
	}

	tfoot #next,
	.wp-calendar-nav-next {
		text-align: right;
	}
}

.wp-block-calendar {

	table th {
		font-weight: var( --fct-widget--calendar--accent--font-weight );
	}

	td a {
		font-weight: var( --fct-widget--calendar--accent--font-weight );
		text-decoration: none;
	}

	tbody td,
	th {
		border: var( --fct-widget--calendar--cell--border );
	}
}

.wp-calendar-table {
	margin-bottom: 0;
}

.wp-calendar-nav {
	display: table;
	width: 100%;
}
